.paragraph{
    font-size: 60px;
    line-height: 60px;
    font-family: 'Tomorrow', sans-serif;
}

.paragraph2{
    font-size: 15px;
    line-height: 20px;
    font-family: 'Tomorrow', sans-serif;
}

.paragraphBold{
    font-size: 30px;
    line-height: 30px;
    /*font-family: 'Tomorrow', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#clock{
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: coral;
    font-family: 'Roboto', sans-serif;
}

divFont{
    font-family: 'Roboto', sans-serif;
}

